body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#details {
    margin-bottom: 20px;
}

#chart {
    margin: 0 auto;
    width: 600px;
}

#controls {
    text-align: center;
    margin-top: 20px;
}

#controls button {
    margin: 0 10px;
}
